<% if @benchmark %>
<p><small>
  Found <%= pluralize @posts.length, 'posts' %> in
  <%= number_to_human @benchmark, units: :seconds %>
</small></p>
<% end %>

<% if @search %>
  <%= render 'search_results' %>
<% else %>
  <%= render @posts %>
<% end %>

<div style="margin-top: 5em; margin-bottom: 5em">
  <%= link_to 'New post', new_post_path, class: 'btn btn-default' %>
</div>


<% if @drafts.present? %>
  <h2>Drafts</h2>

  <div style="margin-top: 1em; margin-bottom: 5em">
    <ul>
      <% @drafts.each do |post| %>
        <li><%= link_to post.title, edit_post_path(post) %></li>
      <% end %>
    </ul>
  </div>
<% end %>